@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
    --cor-cinza: #f0f0f0;
    --azual-ciano: #43dde6;
    --azul-escuro: #364f6b;
    --rosa-claro: #fc5185;
    --rosa-escuro: #f83771;
}