body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* NAVBAR */

/* SLIDER */
.section1 {
    background: url("../images/Grupo\ 199.png") no-repeat center bottom;
    background-size: contain;
    margin-bottom: 100px;
}

.slider h1 {
    font-size: 3em;
    font-weight: 700;
    color: black;
}

.slider h5 {
    font-size: 1em;
}

.botao-principal, .botao-secundario {
    padding: 10px 30px;
}

.saiba-mais {
    margin-right: 15px;
}

/* SOBRE */
.sobre {
    margin-bottom: 100px;
}

/* SERVIÇOS */

.imagem {
    background-color: var(--cor-cinza);
}

.imagem-servico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.imagem-servico img {
    max-height: 160px;
}

.servicos {
    margin-bottom: 100px;
}

/* MARCAS */

.imagem-marca {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.imagem-marca:hover {
    filter: grayscale(0);
    transform: scale(1.3, 1.3);
    border: none;
}

.experiencia {
    text-transform: uppercase;
    font-size: 1.2em;
}

.experiencia span {
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: #364F6B;
    letter-spacing: -15px;
}

.box-experiencia {
    background-color: var(--cor-cinza);
    padding-top: 20px;
}

.imagem-telefone {
    padding-bottom: 20px;
}

#numero-atendimento {
    font-size: 1.5em;
    font-weight: 600;
    color: #797979;
}