body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* NAVBAR */

/* SLIDER */
.section1 {
    background: url("../images/Grupo\ 199.png") no-repeat center bottom;
    background-size: contain;
    margin-bottom: 100px;
}

.slider h1 {
    font-size: 3em;
    font-weight: 700;
    color: black;
}

.slider h5 {
    font-size: 1em;
}

.botao-principal, .botao-secundario {
    padding: 10px 30px;
}

.saiba-mais {
    margin-right: 15px;
}

/* SOBRE */
.sobre {
    margin-bottom: 100px;
}